---
import { SOCIAL_NETWORKS } from "@/lib/constants";

interface Props {
  size?: number;
  disabledHover?: boolean;
}

const { size = 20, disabledHover } = Astro.props;
---

<div class="flex items-center gap-4">
  {
    SOCIAL_NETWORKS.map(({ href, icon, name }) => (
      <a
        href={href}
        target="_blank"
        rel="noopener norefferer"
        class="flex items-center justify-center"
      >
        <img
          class:list={[
            "brightness-0 aspect-square",
            !disabledHover &&
              "hover:(invert-0 brightness-100) transition-all duration-300",
          ]}
          src={icon}
          alt={`${name} Logo`}
          width={size}
          height={size}
          loading="lazy"
          decoding="async"
          fetchpriority="low"
        />
      </a>
    ))
  }
</div>
